/*----------------------------------------*/
/*  1. Job Category Style
/*----------------------------------------*/
.owl-stage-outer .img-icon>img {
  width: auto;
}

.category-item {
  align-items: center;
  box-shadow: 0 0 5px 1px #ddd;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 5px;
  min-height: 200px;
  text-align: center;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}

.img-icon {
  display: inline-block;
}

.category-item>h5,
.cat-text>h5 {
  color: #696969;
  font-family: montserratsemi_bold;
  margin-bottom: 10px;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}

.category-item>h6,
.cat-text>h6 {
  font-family: montserratregular;
  transition: all 0.3s ease-in-out;
}

.category-item:hover {
  background: #EF8E2A none repeat scroll 0 0;
  box-shadow: 0 0 5px 1px #ddd;
}

.category-item:hover>h5,
.category-item:hover>h6 {
  color: #fff;
}

/*----------------------------------------*/
/*  2. Job Post Style
/*----------------------------------------*/
.post-tab {
  align-items: center;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  margin: auto auto 60px;
  overflow: hidden;
}

.post-tab a {
  border: 1px solid #ddd;
  color: #696969;
  font-family: montserratregular;
  font-size: 14px;
  padding: 18px 22px;
  transition: all 0.3s ease-in-out;
  border-left: none;
}

.post-tab a.active,
.post-tab a:hover {
  /*background:#EF8E2A;*/
  background: #AA0A2F;
  color: #fff;
  /*border-color: #EF8E2A;*/
  border-color: #AA0A2F;
}

.post-tab a:last-child {

  border-radius: 0 14px 14px 0;
}

.post-tab a:first-child {
  border-left: 1px solid #ddd;
  border-radius: 14px 0px 0px 14px;
}

.single-job-post {
  box-shadow: 0 0 6px 1px #ddd;
  display: flex;
  margin-bottom: 30px;
  padding: 20px;
  position: relative;
}

.address {
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.address>h6 {
  font-family: montserratregular;
  margin-bottom: 15px;
}

.address>p {
  margin-bottom: 5px;
}

.img-icon {
  align-items: center;
  display: flex;
}

.button-box {
  display: flex;
  align-items: flex-end;
}

.job-title {
  position: relative;
}

.job-title:after {
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 4px;
}

.single-job-post:hover .job-title {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.single-job-post:hover .job-title:after {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.job-title a {
  display: block;
}

.job-title a img {
  border: 1px solid #E5E5E5
}

.job-title h4 {
  font-family: "montserratregular";
}

.job-title h5 {
  color: #646464;
  font-family: "montserratsemi_bold";
}

.address span {
  color: #6d6d6d;
  line-height: 24px;
}

.time-payment span {
  color: #6d6d6d;
  font-family: "montserratsemi_bold";
  font-size: 18px;
  line-height: 24px
}

.stime-payment a.button {
  padding: 0;
  text-align: center;
  width: 121px;
  font-size: 14px
}

.single-job-post:last-child {
  border-bottom: 1px solid #e3e3e3;
}

a.button.large-button {
  line-height: 33px;
  padding: 0 30px
}

/*----------------------------------------*/
/*  3. Fun Factor Area
/*----------------------------------------*/
.fun-factor-area {
  background-position: center center;
  background-size: cover;
  padding: 125px 0;
}

.single-fun-factor h3 {
  color: #fff;
  font-family: montserratregular;
  font-size: 18px;
  position: relative;
  text-transform: uppercase;
}

.single-fun-factor>h1 {
  color: #fff;
  font-family: montserratregular;
  font-size: 36px;
  margin-bottom: 6px;
}

/*----------------------------------------*/
/*  4. Working Area
/*----------------------------------------*/
.work-item {
  margin-bottom: 30px;
  padding: 0 20px;
  text-align: center;
}

.work-item .img-icon {
  border-radius: 100%;
  box-shadow: 0 0 8px 0 #ddd;
  height: 115px;
  justify-content: center;
  margin: auto;
  width: 115px;
  background: #fff;
}

.work-item>h5 {
  color: #555555;
  font-family: montserratsemi_bold;
  margin-bottom: 30px;
  margin-top: 38px;
}

.work-shap {
  background: rgba(0, 0, 0, 0) url("../images/icons/work-shap.png") no-repeat scroll center 13px;
}

/*----------------------------------------*/
/*  5. Testimonial Area
/*----------------------------------------*/
.testimonial-carousel .testimonial-img>img {
  border: 3px solid #ffffff;
  border-radius: 50%;
  height: 143px;
  margin: auto;
  width: 143px;
}

.testimonial-name {
  font-size: 16px;
}

.testimonial-text {
  position: relative;
}

.testimonial-text::after {
  color: #fff;
  content: "\f1b2";
  font-family: material-design-iconic-font;
  font-size: 50px;
  height: 31px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -5px;
  z-index: 9;
}

.testimonial-text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 38px;
}

/*----------------------------------------*/
/*  6. Blog Area
/*----------------------------------------*/

.blog-area .single-item {
  margin-bottom: 30px;
}

.blog-area .blog-grid {
  margin-bottom: 30px;
}

.blog-area .item {
  background: var(--white);
  margin-bottom: 30px;
  box-shadow: 1px 4px 20px -2px rgb(0 0 0 / 10%);
  border-radius: 8px;
}

.blog-area .item:last-child {
  margin-bottom: 0;
  height: 100%;
}

.blog-area .item .info {
  padding: 30px;
}

.blog-area .item .info h1,
.blog-area .item .info h2,
.blog-area .item .info h3,
.blog-area .item .info h4,
.blog-area .item .info h5,
.blog-area .item .info h6 {
  font-weight: 900;
  line-height: 1.4;
}

.blog-area .item .info h1 a,
.blog-area .item .info h2 a,
.blog-area .item .info h3 a,
.blog-area .item .info h4 a,
.blog-area .item .info h5 a,
.blog-area .item .info h6 a {
  font-weight: 900;
}

.blog-area .item .info a.btn {
  margin-top: 8px;
}

.blog-area .item .date {
  display: inline-block;
  background: var(--white);
  padding: 5px 25px;
  color: var(--color-heading);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 15px;
  text-align: center;
  box-shadow: 0 0 10px #cccccc;
}

.blog-area .item .date i {
  margin-right: 3px;
}

.blog-area .item .date span {
  display: block;
  font-size: 14px;
  background: #AA0A2F;
  color: white;
  padding: 0 19px;
  border-radius: 0 0 8px 8px;
  min-width: 70px;
}

.blog-area .thumb .date strong {
  padding: 10px 5px;
  display: inline-block;
}

.blog-area .thumb {
  position: relative;
  padding-bottom: 0;
}

.blog-area .thumb img {
  border-radius: 8px 8px 0 0;
}

.blog-area .thumb .date {
  position: absolute;
  right: 45px;
  bottom: -25px;
  margin: 0;
  border-radius: 8px;
  padding: 0;
  font-weight: 900;
  font-family: var(--font-heading);
  background: white;
}

.blog-area .item .info .meta ul li {
  font-size: 14px;
  display: inline-block;
  margin-right: 20px;
  text-transform: capitalize;
  font-weight: 500;
}

.blog-area .item .info .meta ul li a {
  color: var(--color-paragraph);
  font-weight: 500;
}

.blog-area .item .info .meta ul li a:hover {
  color: #AA0A2F;
}

.blog-area .item .info .meta {
  margin-bottom: 15px;
}

.blog-area .item .info .meta ul li i {
  margin-right: 5px;
  color: #AA0A2F;
  font-weight: 3;
  font-size: 17px;
  position: relative;
  top: 1px;
}

.blog-area .item .info h4 a {
  line-height: 1.4;
  font-weight: 900;
}

.blog-area .item .info h4 a:hover {
  color: #AA0A2F;
}

.blog-area .item .info p:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pagi-area .pagination {
  text-align: center;
  display: block;
  margin-top: 30px;
}

.pagi-area .pagination li.page-item {
  float: none;
  display: inline-block;
}

.pagi-area .pagination li a {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 5px;
  margin: 0 3px;
  margin-top: 5px;
  color: var(--color-heading);
  font-weight: 800;
}

.pagi-area .pagination li.active a {
  background: #AA0A2F;
  border-color: #AA0A2F;
}

/* Sidebar */

.blog-area.left-sidebar .blog-content {
  float: right;
}

.blog-area.left-sidebar .sidebar {
  padding-right: 35px;
}

.blog-area.right-sidebar .sidebar {
  padding-left: 35px;
}

.blog-area .sidebar .title {
  display: block;
}

.blog-area .sidebar .title h4 {
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: -5px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
  font-size: 20px;
  display: inline-block;
  padding-bottom: 15px;
}

.blog-area .sidebar .title h4::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 2px;
  width: 50px;
  border-bottom: 2px solid #AA0A2F;
}

.blog-area .sidebar input[type="text"] {
  border: 1px solid #e7e7e7;
  border-radius: 30px;
  box-shadow: inherit;
  min-height: 60px;
}

.blog-area .sidebar form {
  position: relative;
}

.blog-area .sidebar button[type="submit"] {
  background: #AA0A2F;
  border: medium none;
  color: var(--white);
  font-weight: 500;
  letter-spacing: 1px;
  min-height: 50px;
  width: 50px;
  position: absolute;
  right: 5px;
  text-transform: uppercase;
  top: 5px;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  border-radius: 50%;
}

.blog-area .sidebar input[type="submit"]:hover {
  background: #AA0A2F none repeat scroll 0 0;
}

.blog-area .sidebar .sidebar-item {
  float: left;
  margin-bottom: 50px;
  width: 100%;
}

.blog-area .sidebar .sidebar-item:last-child {
  margin-bottom: 0;
}

.blog-area .sidebar .sidebar-item.category .sidebar-info,
.blog-area .sidebar .sidebar-item.archives .sidebar-info {
  margin-top: -5px;
}

.blog-area .sidebar .sidebar-item.category li {
  display: block;
  position: relative;
  margin-top: 13px;
}

.blog-area .sidebar .sidebar-item.category li a {
  display: flex;
  text-transform: capitalize;
  font-weight: 900;
  color: var(--color-paragraph);
  align-items: center;
  justify-content: space-between;
}

.blog-area .sidebar .sidebar-item li a:hover {
  color: #AA0A2F;
}

.blog-area .sidebar .sidebar-item.category li a span {
  font-size: 12px;
  margin-left: 5px;
  background: #f1f1f1;
  min-width: 40px;
  padding: 3px;
  text-align: center;
  color: var(--color-heading);
  border-radius: 30px;
}

.blog-area .sidebar .sidebar-item.category li:first-child a span {
  top: 0;
}

.blog-area .sidebar .sidebar-item.category li:first-child {
  margin-top: 0;
  padding-top: 0;
}

.blog-area .sidebar .sidebar-item.category li:first-child a::after {
  top: 0;
}

.blog-area .sidebar .sidebar-item.category li:last-child {
  border: medium none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.sidebar-item.recent-post li a {
  color: var(--color-heading);
  display: block;
  font-weight: 900;
}

.sidebar-item.recent-post li a:last-child {
  display: inline-block;
}

.sidebar-item.recent-post .meta-title {
  margin-bottom: 8px;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 13px;
}

.sidebar-item.recent-post .meta-title i {
  margin-right: 3px;
  font-weight: 500;
}

.sidebar-item.recent-post li a:hover {
  color: #AA0A2F;
}

.sidebar-item.recent-post li a span {
  display: inline-block;
  color: #002359;
}

.sidebar-item.recent-post li span {
  display: inline-block;
  font-size: 13px;
  color: #999999;
  font-weight: 500;
}

.sidebar-item.recent-post .meta-title a {
  color: #999999;
}

.sidebar-item.recent-post li {
  color: #cdd0d3;
}

.sidebar-item.recent-post li {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.sidebar-item.recent-post li:last-child {
  border: medium none;
  margin: 0;
  padding: 0;
}

.sidebar-item.recent-post li:last-child {
  margin: 0;
}

.sidebar-item.recent-post li .thumb {
  display: table-cell;
  padding: 0;
  padding-top: 5px;
  vertical-align: top;
  width: 80px;
}

.sidebar-item.recent-post .thumb img {
  width: 100%;
  border-radius: inherit;
}

.sidebar-item.recent-post li .info {
  box-shadow: inherit;
  color: #837f7e;
  display: table-cell;
  line-height: 26px;
  padding: 0;
  padding-left: 25px;
  vertical-align: top;
}

.sidebar-item.recent-post li .info a {
  text-decoration: inherit;
  font-weight: 900;
  font-size: 18px;
}

.blog-area .sidebar-item.gallery ul {
  margin: -7px;
  overflow: hidden;
}

.sidebar-item.gallery ul li {
  box-sizing: border-box;
  float: left;
  padding: 7px;
  width: 33.333%;
}

.sidebar-item.gallery ul li img {
  min-height: 70px;
  width: 100%;
}

.sidebar-item.archives ul li {
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.sidebar-item.archives ul li:last-child {
  margin-bottom: 0;
}

.sidebar-item.archives ul li a {
  display: inline-block;
  font-weight: 800;
  text-transform: capitalize;
  z-index: 1;
  padding-left: 25px;
  font-size: 14px;
  color: var(--color-paragraph);
}

.sidebar-item.archives ul li a::after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "\f07b";
  font-family: "Font Awesome 5 Pro";
  height: 8px;
  left: 0;
  position: absolute;
  width: 8px;
  font-weight: 500;
}

.sidebar-item.social-sidebar ul {
  margin-bottom: -10px;
  overflow: hidden;
}

.sidebar-item.social-sidebar li {
  display: inline-block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.sidebar-item.social-sidebar li a {
  background: #002359 none repeat scroll 0 0;
  border: medium none;
  color: var(--white);
  display: inline-block;
  height: 50px;
  line-height: 54px;
  margin-bottom: 5px;
  text-align: center;
  width: 50px;
  font-size: 14px;
}

.sidebar-item.social-sidebar li a:hover {
  color: var(--white) !important;
}

.sidebar-item.social-sidebar li.facebook a {
  background: #3B5998 none repeat scroll 0 0;
}

.sidebar-item.social-sidebar li.twitter a {
  background: #1DA1F2 none repeat scroll 0 0;
}

.sidebar-item.social-sidebar li.pinterest a {
  background: #BD081C none repeat scroll 0 0;
}

.sidebar-item.social-sidebar li.g-plus a {
  background: #DB4437 none repeat scroll 0 0;
}

.sidebar-item.social-sidebar li.linkedin a {
  background: #0077B5 none repeat scroll 0 0;
}

.sidebar-item.tags ul {
  margin-top: -8px;
}

.sidebar-item.tags ul li {
  display: inline-block;
}

.sidebar-item.tags ul li a {
  border: 1px solid #e7e7e7;
  display: inline-block;
  font-weight: 800;
  margin-top: 8px;
  margin-right: 5px;
  padding: 5px 25px;
  text-transform: capitalize;
  font-size: 13px;
  border-radius: 30px;
  color: var(--color-paragraph);
  background: #fafafa;
}

.sidebar-item.tags ul li a:hover {
  color: #AA0A2F;
}

.blog-area .sidebar .sidebar-item.add-banner .sidebar-info {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 50px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.blog-area .sidebar .sidebar-item.add-banner .sidebar-info::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: #AA0A2F;
  z-index: -1;
  opacity: 0.7;
}

.blog-area .sidebar .sidebar-item.add-banner .sidebar-info h4 {
  color: var(--white);
  font-weight: 900;
}

.blog-area .sidebar .sidebar-item.add-banner .sidebar-info p {
  color: var(--white);
}

.blog-area .sidebar .sidebar-item.add-banner .sidebar-info a {
  display: inline-block;
  color: var(--white);
  border: 1px dashed rgba(255, 255, 255, 0.7);
  padding: 10px 25px;
  margin-top: 9px;
}

.blog-area .blog-items.content-less .item .info>a {
  margin-top: 10px;
}

/* Blog Single */
.blog-area.single .item .content-box span {
  background: #AA0A2F none repeat scroll 0 0;
  color: var(--white);
  display: inline-block;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 3px 20px;
  text-transform: uppercase;
}

.blog-area.single .item .content-box h2,
.blog-area.single .item .content-box h3,
.blog-area.single .item .content-box h4 {
  font-weight: 500;
}

.blog-area.single .content-box .cats {
  float: left;
  margin-right: 5px;
}

.blog-area.single .content-box .meta .date {
  float: right;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.blog-area.single .content-box .meta {
  overflow: hidden;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

.blog-area .blog-items .info>ul li {
  margin-bottom: 5px;
  color: var(--color-heading);
  position: relative;
  z-index: 1;
  padding-left: 15px;
  display: block;
}

.blog-area .blog-items .info>ul {
  margin-bottom: 25px;
  margin-top: 25px;
}

.blog-area .blog-items .info>ul li::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: "";
  height: 5px;
  width: 5px;
  background: #333333;
  border-radius: 50%;
}

.blog-area.single .item {
  margin-bottom: 0;
}

.blog-area .item blockquote {
  position: relative;
  z-index: 1;
  border: none;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #c3d2ff;
  font-weight: 400;
  line-height: 1.6;
  background: var(--dark) !important;
  padding: 80px 50px;
  font-style: italic;
}

.blog-area .item blockquote cite {
  display: block;
  margin-top: 15px;
  color: #999999;
  font-weight: 500;
}

.blog-area .item blockquote::before {
  position: absolute;
  left: 0;
  top: 5%;
  content: "";
  height: 90%;
  width: 3px;
  background: #AA0A2F;
}

.blog-area blockquote::after {
  position: absolute;
  right: 50px;
  content: "\f10d";
  font-family: "Font Awesome 5 Pro";
  color: var(--white);
  bottom: -25px;
  font-weight: 100;
  opacity: 0.1;
  font-size: 120px;
  font-style: normal;
  line-height: 1;
}

.blog-area .item blockquote p {
  margin: 0;
  position: relative;
  z-index: 1;
  line-height: 34px;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
}

.blog-area .blog-content .post-tags,
.blog-area .blog-content .share {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px 0;
  padding-bottom: 6px;
}

.blog-area .blog-content .share li {
  display: inline-block;
  margin-left: 15px;
}

.blog-area .blog-content .share li a {
  display: inline-block;
  color: #AA0A2F;
}

.blog-area .blog-content .share li.facebook a {
  color: #3B5998;
}

.blog-area .blog-content .share li.twitter a {
  color: #1DA1F2;
}

.blog-area .blog-content .share li.pinterest a {
  color: #BD081C;
}

.blog-area .blog-content .share li.g-plus a {
  color: #DB4437;
}

.blog-area .blog-content .share li.linkedin a {
  color: #0077B5;
}

.blog-area .blog-content .post-tags .tags a {
  background: #f7f7f7;
  padding: 10px 15px;
  font-size: 14px;
  margin-right: 3px;
  margin-bottom: 5px;
  display: inline-block;
}

.blog-area.single .post-pagi-area {
  margin-top: 50px;
  overflow: hidden;
}

.blog-area.single .post-pagi-area a {
  display: inline-block;
  font-weight: 900;
  text-transform: capitalize;
  color: #999999;
  border-radius: 30px;
}

.blog-area.single .post-pagi-area h5 {
  margin: 0;
  margin-top: 5px;
  font-weight: 900;
  transition: all 0.35s ease-in-out;
  font-size: 18px;
}

.blog-area.single .post-pagi-area h5:hover {
  color: #AA0A2F;
}

.blog-area.single.color-yellow .post-pagi-area a:hover {
  color: #ff9800;
}

.blog-area.single .post-pagi-area a:last-child {
  float: right;
}

.blog-area.single .post-pagi-area a:first-child i {
  margin-right: 3px;
}

.blog-area.single .post-pagi-area a:last-child i {
  margin-left: 3px;
}

.comments-area .commen-item .comments-info p {
  display: block;
  margin: 0;
}

.blog-area .contact-comments .submit {
  margin-bottom: 0;
}

.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Pagination */

.pagination li {
  display: inline-block;
  margin-top: 7px;
}

ul.pagination {
  display: block;
  margin-top: 30px;
}

.pagination li a {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 5px;
  margin: 0 2px;
  color: #AA0A2F;
  font-weight: 800;
}

.pagination li.page-item.active a {
  background: #AA0A2F;
  border-color: #AA0A2F;
  color: white;
}

.btn-theme-border {
  border: 2px solid #AA0A2F;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: #363636;
  padding: 13px;
  font-weight: 600;
}

.btn-theme-border::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  height: 100%;
  width: 0;
  background: #AA0A2F;
  z-index: -1;
  transition: all 0.35s ease-in-out;
}

.btn-theme-border.circle::after {
  border-radius: 30px;
}

.btn-theme-border:hover::after {
  width: 100%;
}

.btn-theme-border:hover {
  color: white;
}

.btn.circle {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}

/*----------------------------------------*/
/*  7. Home Two Style
/*----------------------------------------*/
.search-catestyle2 .job-search-content.text-center {
  background: #34495e none repeat scroll 0 0;
  border-radius: 100px;
  padding: 60px 130px;
}

.search-catestyle2 {
  margin-top: -90px;
  position: relative;
  z-index: 99;
}

.category-item {
  align-items: center;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  min-height: 200px;
  text-align: center;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}

.category-item2 {
  box-shadow: 0 0 5px 1px #ddd;
  display: flex;
  margin: 5px 5px 30px;
  padding: 20px 30px;
  transition: all 0.3s ease-in-out 0s;
  border-right: 3px solid transparent;
  cursor: pointer;
}

.cat-text {
  padding-left: 25px;
}

.cat-text>h5 {
  margin-top: 0;
}

.category-item2:hover {
  border-right: 3px solid #EF8E2A;
}

.all-job-post2 .single-job-post {
  align-items: center;
  background: #fff none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 10px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}

.all-job-post2 .img-icon {
  align-items: center;
  background: #f2f2f2 none repeat scroll 0 0;
  display: flex;
  padding: 15px 20px;
}

.all-job-post2 .single-job-post:hover {
  box-shadow: 0 0 6px 1px #ddd;
}

.all-job-post2 .address {
  flex-grow: 70;
  padding: 0 0 0 30px;
  width: 260px;
}

.all-job-post2 .button-box {
  display: block;
  width: auto;
}

.all-job-post2 .address>h6 {
  margin-bottom: 7px;
}

.all-job-post2 .address>p {
  color: #EF8E2A;
  margin-bottom: 0;
}

.loaction {
  flex-grow: 50;
}

.loaction>p {
  margin-bottom: 0;
  line-height: 24px;
}

.loaction>p i {
  font-size: 20px;
  margin-right: 10px;
}

.job-post-area2 .section-title {
  margin-bottom: 28px;
}

.post-tab2 {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
}

.post-tab2 a {
  color: #696969;
  margin: 0 4px;
  position: relative;
}

.post-tab2 a::before {
  border: 1px solid #ddd;
  border-radius: 100%;
  content: "";
  height: 18px;
  left: -7px;
  position: absolute;
  top: 5px;
  width: 18px;
}

.post-tab2 a.active:before {
  background: #EF8E2A;
  border-color: #EF8E2A;
}

.work-shop2 {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.work-item .img-icon {
  position: relative;
}

.img-icon>span {
  background: #EF8E2A none repeat scroll 0 0;
  border-radius: 100%;
  color: #fff;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}

/*----------------------------------------*/
/*  8. About Page
/*----------------------------------------*/

.breadcrumb-text {
  z-index: 9;
  position: relative;
}

.breadcrumb-bar .breadcrumb {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  display: flex;
  justify-content: center;
  padding: 0;
}

.breadcrumb-text h2 {
  font-family: montserratsemi_bold;
  line-height: 25px;
  margin-bottom: 15px;
  color: #333;
}

.breadcrumb-bar li {
  color: #333;
  font-family: "montserratregular";
  font-size: 15px;
  margin: 0 10px;
  position: relative;
}

.breadcrumb-bar .breadcrumb>li:not(:last-child)::before {
  border-radius: 50%;
  color: #333;
  content: "/";
  display: inline-block;
  font-family: "Material-Design-Iconic-Font";
  font-size: 14px;
  position: absolute;
  right: -11px;
  top: -1px;
}

.breadcrumb-bar .breadcrumb>li+li:before {
  display: none;
}

.breadcrumb-bar a {
  color: #333;
}

.breadcrumb-bar a:hover {
  color: #EF8E2A;
}

.abt-img {
  padding-right: 30px;
}

.abt-content>h4 {
  align-self: flex-start;
  border-bottom: 1px solid #ddd;
  font-family: montserratsemi_bold;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.abt-content>h4 span {
  border-bottom: 1px solid #EF8E2A;
  color: #EF8E2A;
  padding-bottom: 3px;
  font-family: montserratbold;
}

.abt-content p strong {
  font-weight: 600;
}

.abt-content>p:last-child {
  margin-bottom: 0;
}

.single-team {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.team-img img {
  width: 100%;
}

.team-content {
  background: #EF8E2A none repeat scroll 0 0;
  bottom: -86px;
  padding: 20px 10px;
  position: absolute;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in-out;

}

.single-team:hover .team-content {
  bottom: 0;
}

.team-content>h5 {
  color: #fff;
  font-family: montserratsemi_bold;
}

.team-content h6 {
  color: #fff;
  font-family: poppins;
  font-size: 14px;
  margin-top: 5px;
}

.abt-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

/*----------------------------------------*/
/*  9. Single Job Post Page
/*----------------------------------------*/
.job-search-content.brd-style {
  margin: 80px auto auto;
  max-width: 900px;
}

.loadmorebtn {
  margin-top: 20px;
  text-align: center;
}

.loadmorebtn .button {
  background: #EF8E2A none repeat scroll 0 0;
  border-radius: 0;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 145px;
}

.loadmorebtn .button::after {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
}

.area-title .single-job-post {
  box-shadow: 0 0 6px 1px #ddd;
  display: flex;
  margin-bottom: 60px;
  padding: 20px;
  position: relative;
}

.title {
  border-bottom: 2px solid #ddd;
  color: #434343;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 14px;
  text-transform: capitalize;
}

.title>span {
  border-bottom: 2px solid #EF8E2A;
  padding-bottom: 10px;
}

.single-job-form {
  margin-bottom: 57px;
}

.mark-icon,
.number {
  line-height: 28px;
  position: relative;
}

.mark-icon:after {
  content: "";
  font-family: "Material-Design-Iconic-Font";
  font-size: 18px;
  left: 0;
  position: absolute;
  top: -1px;
  color: #EF8E2A;
}

.number>span {
  display: inline-block;
  font-family: "montserratregular";
  width: 20px;
}

.single-info label {
  color: #525252;
  font-family: "montserratsemi_bold";
  font-size: 14px;
  width: 160px;
  line-height: 34px;
}

.single-info input {
  font-size: 12px;
  color: #a2a2a2;
  font-family: 'montserratlight';
  height: 36px;
  border: 1px solid #DEDEDE;
  background: #fff
}

.single-info input.dark-border {
  border-color: #a2a2a2;
}

.area-title>h2,
.border-title {
  border: 1px solid #525252;
  color: #525252;
  font-family: "montserratregular";
  font-size: 24px;
}

.border-title {
  font-size: 16px;
  border: 1px solid #A2A2A2
}

.background-title {
  font-size: 16px;
  color: #fff;
  font-family: "montserratregular";
}

.title>span.lg {
  padding: 7px 46px
}

.title>span.medium {
  padding: 7px 31px
}

.text-style span {
  color: #525252;
  display: inline-block;
}

.text-style {
  background: #f0f0f0 none repeat scroll 0 0;
}

textarea.textarea {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-left: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  border-right: 1px solid #dedede;
  font-size: 12px;
  color: #a2a2a2;
  font-family: 'montserratlight';
  height: 150px;
  border: 1px solid #DEDEDE;
  resize: none
}

textarea.textarea.small {
  height: 120px
}

.uploader,
.photo-uploader {
  position: relative;
  height: 36px;
  border: 1px solid #dedede;
  width: 310px
}

.photo-uploader {
  width: 79.1%;
}

#fileupload>input,
.fileupload #fileupload {
  -moz-appearance: none;
  border: 0 none;
  color: #ffffff;
  cursor: pointer;
  height: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.filename {
  color: #a2a2a2;
  cursor: default;
  display: block;
  float: left;
  font-size: 12px;
  height: 100%;
  line-height: 34px;
  overflow: hidden;
  padding: 0 10px;
  width: 65%;
}

.action {
  color: #5e5e5e;
  font-size: 12px;
  height: 100%;
  overflow: hidden;
  text-align: right;
  float: right;
  line-height: 34px;
  padding-right: 14px;
  font-family: 'montserratlight';
}

.action i {
  font-size: 12px;
  margin-right: 7px
}

.photo-uploader .action {
  color: #ffffff;
  font-family: "montserratregular";
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 102px;
}

.max-size {
  color: #a2a2a2;
  font-family: "montserratlight";
  font-size: 12px;
  line-height: 36px;
}

/*----------------------------------------*/
/*  10. Candidates Page
/*----------------------------------------*/

.canditates-area .button-box {
  align-items: center;
  width: auto;
}

.canditates-area .img-icon {}

.canditates-area .address {
  width: 50%;
}

.canditates-area .img-icon img {
  width: 100%;
}

.canditates-area .button-box a {
  background: #ececec none repeat scroll 0 0;
  color: #696969;
  width: 135px;
  text-align: center;
}

.canditates-area .button-box a:hover {
  color: #fff;
}

.canditates-area .address p span {
  color: #EF8E2A;
}

/*----------------------------------------*/
/*  11. Blog Page
/*----------------------------------------*/

.blog-posts .single-blog {
  margin-bottom: 50px;
}

.sidebar-widget-title h4 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 15px;
  color: #333;
  font-family: "montserratregular";
  font-size: 24px;
  line-height: 21px;
}

.sidebar-widget-title h4 span {
  border-bottom: 2px solid #AA0A2F;
  padding-bottom: 9px;
}

.search-container input {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #efefef;
  color: #333;
  font-size: 12px;
  font-weight: 300;
  height: 40px;
  padding: 0 88px 0 17px;
}

.search-container>form {
  position: relative;
}

.search-container button {
  background: #AA0A2F none repeat scroll 0 0;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  position: absolute;
  right: 0;
  text-transform: capitalize;
  top: 0;
}

.sidebar-widget-lists>li a {
  color: #616161;
}

.sidebar-widget-lists>li a:hover {
  padding-left: 5px
}

.recent-post-item h5 {
  font-family: "montserratregular";
}

.recent-post-item span {
  color: #616161;
}

.recent-post-item h5 a:hover {
  color: #AA0A2F;
}

.blog-post-info>span.l-text {
  font-size: 14px;
}

.blog-text>h5.l-text {
  font-size: 24px;
}

.tags-and-links {
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

.tags-and-links span {
  color: #333;
  font-weight: 500;
  font-size: 16px;
}

.tags>li {
  display: inline-block;
}

.tags>li a {
  color: #444;
  padding: 0px 2px;
  line-height: 21px;
}

.tags>li a:hover {
  color: #AA0A2F;
}

.tags {
  display: inline-block;
}

.social-links {
  display: inline-block;
}

.tags-and-links .social-links a {
  color: #333;
  height: auto;
  margin: 0 0 0 10px;
  padding: 0;
}

.tags-and-links .social-links a i {
  font-size: 14px;
  line-height: 17px;
}

.tags-and-links .social-links a:hover {
  background: transparent;
  color: #AA0A2F;
}

.comments {
  color: #4c4c4c;
}

h4.title {
  color: #4c4c4c;
  font-family: "montserratregular";
  font-size: 24px;
  position: relative;
}

h4.title:after {
  bottom: 2px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 73px;
}

.author-image {
  border: 2px solid #eaeaea;
  border-radius: 2px;
  float: left;
  height: 67px;
  margin-right: 23px;
  width: 67px;
}

.author-image>img {
  width: 100%;
}

.comment-text {
  border-bottom: 1px solid #f0f0f0;
}

.author-info>h4 {
  display: inline-block;
  font-family: "montserratregular";
  font-size: 18px;
  line-height: 21px;
}

.author-info>h4 a {
  color: #4c4c4c;
}

span.reply a:hover {
  color: #2D3E50;
}

.comment-time,
span.reply {
  float: right;
  font-family: "montserratregular";
  line-height: 22px;
}

span.comment-time {
  padding-right: 3px;
  position: relative;
}

.comment-text>p {
  color: #4c4c4c;
  font-weight: 300;
  line-height: 20px;
}

.single-comment.comment-reply {
  padding-left: 131px;
}

.comments .single-comment:last-child {
  margin-bottom: 0;
}

.reply>a {
  color: #AA0A2F;
}

/*----------------------------------------*/
/*  12. Register/Login  Page
/*----------------------------------------*/
.single-info label.lg-text {
  font-family: "montserratregular";
  font-size: 16px;
}

p.panel-title {
  color: #414141;
  font-size: 14px;
  font-weight: 500;
}

.conditions {
  color: #959595;
  font-family: "montserratlight";
  font-size: 14px;
}

.conditions input[type="radio"],
input[type="checkbox"] {
  border: 1px solid #e3e3e3;
  height: 17px;
  margin: 0 10px 0 0;
  padding: 0;
  position: relative;
  top: -1px;
  width: 20px;
}

.conditions input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 0 none;
}

.modal .modal-header {
  border: 0 none;
  min-height: auto;
  padding: 0;
}

.modal {
  background: rgba(0, 0, 0, 0.35) no-repeat scroll center center / cover;
  z-index: 1050;
}

.modal-dialog {
  bottom: 0;
  color: #ffffff;
  height: 432px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: left;
  top: 0;
  width: 465px;
}

.modal-dialog.register {
  height: 555px
}

.modal-body {
  padding: 0
}

.form-pop-up-content {
  background: #ffffff none repeat scroll 0 0;
}

.form-pop-up-content .area-title h2 {
  border-color: #cccccc;
  display: inline-block;
  font-size: 18px;
}

.form-pop-up-content .area-title h2 {
  border-color: #cccccc;
  display: inline-block;
  font-size: 18px;
}

.form-box>input {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #cccccc;
  color: #959595;
  font-family: "montserratlight";
  height: 43px;
  padding: 0 16px;
}

.modal-dialog button.close {
  background: #AA0A2F none repeat scroll 0 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  height: 28px;
  line-height: 0;
  margin: 0;
  opacity: 1;
  padding: 1px;
  position: absolute;
  right: -31px;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  width: 30px;
}

.modal-content {
  border: medium none;
  min-height: 500px;
}

.modal-dialog button.close span i {
  font-size: 25px;
}

.modal-dialog button.close:after {
  display: none
}

.form-pop-up-content span a {
  color: #959595;
  font-family: "montserratlight";
  font-size: 12px;
}

.remember {
  color: #959595;
  font-family: "montserratlight";
  font-size: 12px;
}

.remember input[type="checkbox"] {
  height: 14px;
  margin-right: 6px;
  position: relative;
  top: -1px;
  width: 15px;
}

.form-pop-up-content button {
  background: #AA0A2F none repeat scroll 0 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 43px;
  width: 136px;
}

.signup-form #form-pop-up {
  height: 598px;
  top: 47.2%;
}

.box2 {
  display: flex;
  width: 100%;
}

.box2 input:first-child {
  margin-right: 7px;
  width: 48%;
}

.box2 input:last-child {
  margin-left: 7px;
  width: 48%;
}

/*----------------------------------------*/
/*  13. Contact Page
/*----------------------------------------*/
.single-contact-info {
  display: flex;
  margin: auto auto 30px;
  max-width: 220px;
}

.contact-form h4 {
  font-family: montserratregular;
  font-size: 24px;
  margin-bottom: 25px;
  padding-left: 15px;
}

.single-contact-icon {
  border-radius: 50%;
  color: #ffffff;
  display: inline-table;
  font-size: 22px;
  margin: auto;
}

.single-contact-icon i {
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 100%;
  border: 1px solid #EF8E2A;
  color: #EF8E2A;
}

.single-contact-info:hover .single-contact-icon i {
  background: #EF8E2A;
  color: #fff;
}

.single-contact-text {
  color: #4c4c4c;
  font-family: montserratlight;
  line-height: 24px;
  width: calc(100% - 50px);
}

.single-contact-text {
  color: #4c4c4c;
  font-family: montserratlight;
  line-height: 24px;
  text-align: left;
  padding-left: 10px;
  width: calc(100% -50px);
}

.contact-form label {
  color: #9a9a9a;
  font-family: "montserratlight";
  font-weight: 300;
}

.contact-form input,
.contact-form textarea {
  background: #f1f1f1 none repeat scroll 0 0;
  border: 1px solid #c1c1c1;
  font-size: 12px;
  height: 40px;
  padding: 10px 20px;
}

.contact-form textarea {
  height: 150px;
  padding-left: 20px
}

.submit-btn {
  color: #fff;
  font-size: 14px;
  line-height: 50px;
  padding: 0 42px;
  background: #EF8E2A;
}

.contact-form {
  padding-left: 100px;
}

.contact-form div {
  margin-bottom: 30px;
}

.followus {
  text-align: center;
  margin-top: 50px;
}

.followus h4 {
  margin-bottom: 10px;
}

.followus .social-links>a {
  border: none;
  color: #4d4d4d;
  transition: all 0.3s ease-in-out;
}

.followus .social-links>a:hover {
  background: transparent;
  color: #EF8E2A;
}

.followus .social-links a i {
  font-size: 20px;
}

.contact-left {
  padding: 96px 0;
}

/*----------------------------------------*/
/*  14. Other Page CSS
/*----------------------------------------*/
.banner-content h1.border-none:after {
  display: none;
}

.header-logo-menu.stick.semi-transparent {
  background: rgba(46, 63, 81, 0.85) none repeat scroll 0 0;
}

.mb_YTPBar span.mb_OnlyYT {
  left: auto;
  right: 68px;
}

.mb_YTPUrl.ytpicon {
  display: none !important;
}

.box-layout {
  box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
  margin: auto;
  max-width: 1340px;
}

.box-wrapper {
  background: rgba(0, 0, 0, 0) url("images/bg/pattern.png") repeat fixed 0 0;
}

.box-layout {
  background: #fff none repeat scroll 0 0;
  box-shadow: -3px 0 50px -2px rgba(0, 0, 0, 0.14);
  margin: auto;
  max-width: 1340px;
}

.box-layout .sticky {
  max-width: 1340px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.select-category {
  border-radius: 10px 0px 0px 10px;
}

.nav-pills {
  display: flex;
  justify-content: flex-start;
  row-gap: 10px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  background-color: #AA0A2F;
}

.nav-pills .nav-item a {
  color: #363636;
  font-weight: 600;
  font-family: "montserratregular";
  letter-spacing: 1px;
  font-size: 12px;
}

.card-link {
  color: #363636;
  font-weight: 600;
  font-size: 12px;
}

.card-link:hover {
  color: #AA0A2F;
}

.card-body table tbody tr td input {
  align-content: center;
}

@media screen and (max-width: 767px) {
  .select-category {
    border-radius: 0px;
  }

  .nav-pills {
    justify-content: center;
  }

  .nav-pills .nav-item a {
    font-size: 10px;
  }

  table {
    font-size: 10px;
  }

  .card .card-body {
    padding: 10px;
  }

  .card .card-body table td span {
    display: inline-flex;
    margin-top: 5px;
    font-weight: 600;
  }

  input[type="file"]::file-selector-button {
    display: block;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  h3 {
    font-size: 15px;
    text-align: center;
  }

  #data_perusahaan .row {
    gap: 1.5rem;
  }

  .blog-area .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Laptop */
@media screen and (max-width: 984px) {
  .single-job-post {
    margin-bottom: 0px;
  }

  .post-tab a {
    font-size: 12px;
  }
}

@media screen and (max-width: 1023px) {
  #timeline {
    overflow: scroll;
  }
}